<p>Select City:</p>
<select [(ngModel)]="selectValue">
  <option *ngFor="let city of cities" [value]="city.id">{{ city.name }} </option>
</select> Selected Id: {{ selectValue }}
<br/>
<p>Select City:</p>
<select [(ngModel)]="selection2" (change)="cityChanged()">
  <option *ngFor="let city of cities" [value]="city.id">{{ city.name }} </option>
</select> {{ message }}
<hr>
<h1>Transclusion in voted component</h1>
<app-transclusion>
    <!-- put your dynamic content here -->
    <div class="card-block">
        <p class="card-text">Delete a something?</p>
    </div>
    <!-- end dynamic content -->
</app-transclusion>