:host {
    display: block;
    border: 1px solid #d6a6a6;
    padding: 20px;
}

:host-context(.blue-theme) .btn-theme {
    background: blue;
}

:host-context(.red-theme) .btn-theme {
    background: red;
}

:host>>>div {
    color: blue;
}