<div class="row">

    <div class="col-lg-3">
        <category></category>
    </div>
    <!-- /.col-lg-9 -->
    <div class="col-lg-9">
        <div style="margin-top: 20px"></div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
                <div class="card h-100 w-100 product-card">
                    <a [routerLink]="['product/', product.slug]">
                        <img itemprop="image" class="card-img-top mx-auto d-block" alt="{{product.name}}" [src]="product.master.images[0]?.product_url | formaturlimage ">
                        <div class="card-block">
                            <div class="card-subtitle mb-2 text-muted">
                                {{ product.name }}
                            </div>
                            <h5>{{ product.price | currency:'USD':'$'}}</h5>
                            <p class="card-text">{{ product.description | truncate:40 }}</p>
                        </div>
                    </a>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
        <!-- /.ng-container -->
        <div class="row justify-content-center" *ngIf="products.length">
            <pagination [totalItems]="totalItems" [currentPage]="currentPage" (pagerSelected)="onPagerChange($event)"></pagination>
        </div>
        <!-- /.ng-container -->
    </div>
    <!-- /.col-lg-9 -->

</div>