<div class="card mb-4 mb-4">
    <div class="card-block text-center">
        <img class="card-img-top mx-auto d-block" alt="" [attr.src]="(currentImage?.product_url || images[0].product_url) | formaturlimage ">
    </div>
</div>
<div>
    <ul class="thumbnails list-inline">
        <li *ngFor="let image of images; let i = index">
            <a href="javascription:void()">
                <img (click)="selectedImage(image)" class="thumbnail" alt="" [attr.src]="image.mini_url | formaturlimage ">
            </a>
        </li>
    </ul>
</div>