<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-md-2">SHIPMENT</div>
            <div class="col-md-2">STATUS</div>
            <div class="col-md-2">ITEMS</div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ order?.displayTotal }}</div>
            <div class="col-md-2">{{ order?.shipmentState }}</div>
            <div class="col-md-2">{{ order?.totaQuantity }}</div>
        </div>
        <hr/>
        <div class="row" *ngFor="let item of order?.lineItems">
            <div class="col-md-3">
                <img itemprop="image" class="card-img-top mx-auto d-block" alt="{{item.variant.name}}" [attr.src]="item.variant.images[0]?.smallUrl | formaturlimage ">
            </div>
            <div class="col-md-3">
                <a [routerLink]="['/product/', item.variant.slug]">{{ item.variant.name }}</a>
            </div>
            <div class="col-md-3">
                <div>{{ item.total }}</div>
                <div>{{ item.displayAmount }}</div>
            </div>
            <div class="col-md-3">{{ item.variant.desscription }}</div>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">SHIPPING DETAILS</div>
    <div class="card-block">
        <div class="row col-md-12">
            Order No: {{ order?.number }}
        </div>
        <div class="row col-md-12">
            Name: {{ order?.shipAddress.fullName }}
        </div>
        <div class="row col-md-12">
            Address: {{ order?.shipAddress.address }}
        </div>
        <div class="row col-md-12">
            City: {{ order?.shipAddress.city }}
        </div>

        <div class="row col-md-12">
            Phone: {{ order?.shipAddress.phone }}
        </div>

        <div class="row mt-4 col-md-12">
            Total Amount: {{ order?.displayTotal }}
        </div>
        <div class="row col-md-12">
            MRP: {{ order?.displayItemTotal }}
        </div>
        <div class="row col-md-12">
            Shipping: {{ order?.displayShipTotal }}
        </div>
        <div class="row col-md-12">
            Tax Amount: {{ order?.displayAdditionalTaxTotal }}
        </div>

        <div class="row mt-4 col-md-12">
            Payment: {{ order?.paymentState }}
        </div>
    </div>
</div>