<main-cart>
    <div class="card">
        <div class="card-header">
            Delivery Address
        </div>
        <div class="card-block">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Address: {{ shippingAddress?.address }}</td>
                    </tr>
                    <tr>
                        <td>City: {{ shippingAddress?.city }}</td>
                    </tr>
                    <tr>
                        <td>Zipcode: {{ shippingAddress?.city }} - {{ shippingAddress?.zipcode }}</td>
                    </tr>
                    <tr>
                        <td>Full Name: {{ shippingAddress?.fullName }}</td>
                    </tr>
                    <tr>
                        <td>Mobile: {{ shippingAddress?.phone }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="text-left col-md-6">
                    <a href="" [routerLink]="[checkoutAddressUrl]" class="btn btn-secondary">Previous</a>
                </div>
                <div class="text-right col-md-6">
                    <button (click)="onDelivery()" class="btn btn-primary">Continue to Payment</button>
                </div>
            </div>

        </div>
    </div>
</main-cart>