<div class="row  mt-5 mb-5">
    <div class="col-md-9">
        <h3>Delivery Address</h3>
        <table class="table">
            <tbody>
                <tr>
                    <td>Address: {{ shippingAddress?.address1 }}</td>
                </tr>
                <tr>
                    <td>City: {{ shippingAddress?.city }}</td>
                </tr>
                <tr>
                    <td>Zipcode: {{ shippingAddress?.city }} - {{ shippingAddress?.zipcode }}</td>
                </tr>
                <tr>
                    <td>Full Name: {{ shippingAddress?.full_name }}</td>
                </tr>
                <tr>
                    <td>Mobile: {{ shippingAddress?.phone }}</td>
                </tr>
                <tr>
                    <td class="my-2 my-md-0">
                        <button (click)="onDelivery()" class="btn btn-primary">Continue to Payment</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <cart-summary [orderTotal]="orderTotal"></cart-summary>
    </div>
</div>